.photo-list__fav-icon {
  position: relative;
  top: 12px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -45px;
  border-width: 0.1px;
  background-color: #eeeeee;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
}

.photo-list__fav-icon-svg {
  padding: 10.5px;
  top: 2px;
}
